<h1>Sessions#failure</h1>
<p>Find me in app/views/sessions/failure.html.erb</p>

<% if @identity && @identity.errors.any? %>
  <div class="error_messages">
    <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
    <ul>
    <% @identity.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>