<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h1 class="mdl-typography--display-2 section-title">
      O que é?
    </h1>
    <p class="mdl-typography--body-1">
      Vivamus nec odio nec enim dictum consectetur a sit amet quam. Proin dictum est arcu, ut iaculis<br/>est vulputate ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sagittis<br/>massa mollis metus sollicitudin, non venenatis est sodales.
    </p>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="features-img-container">
      <%= image_tag "Features-1.svg" %>
    </div>
    <h5 class="column-subtitle">Lorem Ipsum dolor sit amet um</h5>
    <p>Sed cursus purus ac ligula hendrerit pharetra. Curabitur euismod, nulla vel porta porttitor, sem est malesuada quam, in pretium libero enim vestibulum risus.</p>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="features-img-container">
      <%= image_tag "Features-2.svg" %>
    </div>
    <h5 class="column-subtitle">Lorem Ipsum dolor sit amet um</h5>
    <p>Sed cursus purus ac ligula hendrerit pharetra. Curabitur euismod, nulla vel porta porttitor, sem est malesuada quam, in pretium libero enim vestibulum risus.</p>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="features-img-container">
      <%= image_tag "Features-3.svg" %>
    </div>
    <h5 class="column-subtitle">Lorem Ipsum dolor sit amet um</h5>
    <p>Sed cursus purus ac ligula hendrerit pharetra. Curabitur euismod, nulla vel porta porttitor, sem est malesuada quam, in pretium libero enim vestibulum risus.</p>
  </div>
</div>