<div class="mdl-cell mdl-cell--12-col" id="features-message__desktop">
  <span class="mdl-typography--display-2">
    O que é?
  </span>
  <br/><br/><br/><br/>
  <span class="mdl-typography--headline">
    Vivamus nec odio nec enim dictum consectetur a sit amet quam. Proin dictum est arcu, ut iaculis<br/>est vulputate ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sagittis<br/>massa mollis metus sollicitudin, non venenatis est sodales.
  </span>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
      <h5>Lorem Ipsum dolor sit amet um</h5>
      <p>Sed cursus purus ac ligula hendrerit pharetra. Curabitur euismod, nulla vel porta porttitor, sem est malesuada quam, in pretium libero enim vestibulum risus.</p>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5>Lorem Ipsum dolor sit amet um</h5>
      <p>Sed cursus purus ac ligula hendrerit pharetra. Curabitur euismod, nulla vel porta porttitor, sem est malesuada quam, in pretium libero enim vestibulum risus.</p>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5>Lorem Ipsum dolor sit amet um</h5>
      <p>Sed cursus purus ac ligula hendrerit pharetra. Curabitur euismod, nulla vel porta porttitor, sem est malesuada quam, in pretium libero enim vestibulum risus.</p>
    </div>
  </div>
</div>