<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
  <span class="mdl-typography--display-2">
    O que é
  </span>
</div>
<div class="mdl-cell mdl-cell--4-col"></div>
<div class="mdl-cell mdl-cell--4-col"></div>
<div class="mdl-cell mdl-cell--4-col"></div>