<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <%= image_tag "ilustra-form.svg", { id: "form-illustration" } %>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone">
    <h1 class="mdl-typography--display-2">
      Tem alguma dúvida?<br />Entre em contato conosco
    </h1>
    <form action="#">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone form-item">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="email">
            <label class="mdl-textfield__label" for="email">Seu Email</label>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone form-item">
          <div class="mdl-textfield mdl-js-textfield form-multiline-field">
            <textarea class="mdl-textfield__input" type="text" rows="5" id="message"></textarea>
            <label class="mdl-textfield__label" for="message">Sua Mensagem</label>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone form-item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            enviar&nbsp;<span class="material-icons">send</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>