<div class="mdl-layout__drawer">
  <span class="mdl-layout__title">
    <%= image_tag "logo.svg", { id: "logo" } %>
  </span>
  <nav class="mdl-navigation">
    <button class="mdl-button mdl-js-button mdl-button--accent">
      o que é
    </button>
    <button class="mdl-button mdl-js-button mdl-button--accent">
      preço
    </button>
    <button id="login-button" class="mdl-button mdl-js-button mdl-button--accent">
      fazer login
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
      quero me inscrever
    </button>
  </nav>
</div>