<header class="mdl-layout__header mdl-layout__header--transparent" id="landing-header">
  <div class="mdl-layout__header-row landing-nav-header-row">
    <span class="mdl-layout-title">
      <%= image_tag "logo.svg", { id: "landing-nav-logo" } %>
    </span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <a href="#features">
        <div class="mdl-button mdl-js-button mdl-button--accent landing-header-item">
          o que é
        </div>
      </a>
      <a href="#price">
        <div class="mdl-button mdl-js-button mdl-button--accent landing-header-item">
          preço
        </div>
      </a>
      <a href="/login">
        <div id="landing-nav-login-button" class="mdl-button mdl-js-button mdl-button--accent landing-header-item">
          fazer login
        </div>
      </a>
      <a href="/signup">
        <div class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent landing-header-item">
          quero assinar
        </div>
      </a>
    </nav>
  </div>
</header>