<div class="mdl-layout__drawer">
  <span class="mdl-layout__title">
    <%= image_tag "logo.svg", { id: "logo" } %>
  </span>
  <nav class="mdl-navigation">
    <a href="#features">
      <button class="mdl-button mdl-js-button mdl-button--accent">
        o que é
      </button>
    </a>
    <a href="#price">
      <button class="mdl-button mdl-js-button mdl-button--accent">
        preço
      </button>
    </a>
    <a href="/login">
      <button id="login-button" class="mdl-button mdl-js-button mdl-button--accent">
        fazer login
      </button>
    </a>
    <a href="/signup">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        quero me inscrever
      </button>
    </a>
  </nav>
</div>