<div class="mdl-cell mdl-cell--4-col-phone" id="hero-message__phone">
  <span class="mdl-typography--display-1">
    A Optax ajuda você a controlar os resultados dos seus investimentos em Bolsa
  </span>
</div>