<div class="mdl-cell mdl-cell--6-col" id="hero-message__desktop">
  <div id="hero-message-text">
    <span class="mdl-typography--display-2">
      A Optax ajuda<br/>você a controlar o<br/>resultado dos seus investimentos em bolsa
    </span>
  </div>
  <a href="#features">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id="hero-button">
      saiba mais <span class="material-icons">arrow_downward</span>
    </button>
  </a>
</div>