<div class="mdl-grid" id="price">
  <div class="mdl-cell mdl-cell--12-col">
    <h1 class="mdl-typography--display-2 section-title">
      Preço
    </h1>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div>
      <div class="price-container">
        <%= image_tag "price-illustration.svg", {class: "price-img"} %>
      </div>
      <p class="price-text">R$ 20,00</p>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent price-button">
        crie sua conta
      </button>
    </div>
    <h5 class="column-subtitle">Lorem Ipsum dolor sit amet um</h5>
    <p>Sed cursus purus ac ligula hendrerit pharetra. Curabitur euismod, nulla vel porta porttitor, sem est malesuada quam, in pretium libero enim vestibulum risus.</p>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div>
      <div class="price-container">
        <%= image_tag "price-illustration-2.svg", {class: "price-img"} %>
      </div>
      <p class="price-text">R$ 20,00</p>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent price-button">
        crie sua conta
      </button>
    </div>
    <h5 class="column-subtitle">Lorem Ipsum dolor sit amet um</h5>
    <p>Sed cursus purus ac ligula hendrerit pharetra. Curabitur euismod, nulla vel porta porttitor, sem est malesuada quam, in pretium libero enim vestibulum risus.</p>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div>
      <div class="price-container">
        <%= image_tag "price-illustration-3.svg", {class: "price-img"} %>
      </div>
      <div id="price-col3-spacer"></div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent price-button">
        entre em contato
      </button>
    </div>
    <h5 class="column-subtitle">Lorem Ipsum dolor sit amet um</h5>
    <p>Sed cursus purus ac ligula hendrerit pharetra. Curabitur euismod, nulla vel porta porttitor, sem est malesuada quam, in pretium libero enim vestibulum risus.</p>
  </div>
</div>