<div class="mdl-grid" id="price__phone">
  <div class="mdl-cell mdl-cell--4-col section-title">
    <span class="mdl-typography--display-2">
      Preço
    </span>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="feature-item">
      <p class="mdl-typography--headline">Funcionalidades inclusas:</p>
      <%= image_tag "price-icon-1.svg", { class: "price-icon" } %>
      <h5 class="mdl-typography--title feature-title">Geração de DARFs</h5>
      <p>
        Você acessa todas as guias de impostos sobre as vendas 
        dos seus ativos, com controle fácil do que falta pagar
      </p>
    </div>
    <div class="feature-item">
      <%= image_tag "price-icon-2.svg", { class: "price-icon" } %>
      <h5 class="mdl-typography--title feature-title">Relatórios para o imposto de renda</h5>
      <p>
        Em Abril, você ou seu contador vão copiar e colar apenas, com um layout espelho do IRPF
      </p>
    </div>
    <div class="feature-item">
      <%= image_tag "price-icon-3.svg", { class: "price-icon" } %>
      <h5 class="mdl-typography--title feature-title">Análises mensais</h5>
      <p>
        Desdobramentos, bonificações, grupamentos e proventos
      </p>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col" id="price-illustration-col">
    <div id="price-content-container">
      <%= image_tag "price-illustration.svg", { id: "price-illustration" } %>
      <div>
        <p>
          <span class="mdl-typography--display-3">R$ 20,00</span>
          <span class="mdl-typography--headline">/mês</span>
        </p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          crie sua conta
        </button>
      </div>
    </div>
  </div>
</div>