<footer class="mdl-mini-footer footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      <img src="/assets/logo.svg" width="90">
    </div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="#">Página Inicial</a></li>
      <li><a href="#">Ajuda</a></li>
      <li><a href="#">Termos de Privacidade</a></li>
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section">
    <li><a href="#">&copy; Todos os direitos reservados.</a></li>
  </div>
</footer>