<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone ma-40">
  <h1 class="mdl-typography--display-1 ma-10">
    Nova Declaração
  </h1>

  <%= render 'form', statement: @statement %>

  <button class="mdl-button mdl-js-button add-file trade-btn ma-10">
    <span class="material-icons trade-icon">
      <%= link_to 'arrow_back', statements_path %>
    </span>
  </button>

</div>
