<div class="app-upload-statement">
  <div class="mdl-layout__content">
    <main>
      <%= form_with model: StatementFile, method: :post, local: true do |f| %>
        <div class="mdl-grid">
          <div class="button-group">
            <div class="content-group">
              <%= f.file_field :file, id: 'file', class: 'hidden', accept: '.pdf' %>
              <%= f.submit 'Anexar arquivo', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
              <label for="file">Escolha o arquivo</label>
            </div>
            <%= link_to 'Voltar', statement_files_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
          </div>
          <% end %>
      </main>
  </div>
</div>

