<div class="mdl-cell mdl-cell--6-col ma-40">
  <h1 class="mdl-typography--display-1 ma-10">
    Página Inicial
  </h1>
  <div class="mdl-typography--text-left">
    <div class="logo-font subtitle ma-10">Pellentesque vulputate arcu sed risus auctor tincidunt. Morbi eget massa turpis. Fusce aliquet dolor eu posuere tincidunt.
    </div>
    <div class="mdl-typography--text-left text">
      <div class="logo-font text-box ma-10">Fusce ultricies luctus dui, dapibus pharetra risus semper non. Maecenas tempus est neque, sit amet malesuada augue tempor vitae. Proin mattis efficitur enim ut molestie.
      </div>
      <div class="logo-font text-box ma-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ornare iaculis purus, eget gravida est lacinia at. Nam magna dolor, vestibulum ut consequat in, dictum a metus.
      </div>
      <div class="logo-font text-box ma-10">Pellentesque vulputate arcu sed risus auctor tincidunt. Morbi eget massa turpis. Fusce aliquet dolor eu posuere tincidunt. Fusce ultricies luctus dui, dapibus pharetra risus semper non. Maecenas tempus est neque, sit amet malesuada augue tempor vitae. Proin mattis efficitur enim ut molestie.
      </div>
      <div class="logo-font text-box ma-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ornare iaculis purus, eget gravida est lacinia at. Nam magna dolor, vestibulum ut consequat in, dictum a metus.
      </div>
      <div class="logo-font text-box ma-10">Pellentesque vulputate arcu sed risus auctor tincidunt. Morbi eget massa turpis. Fusce aliquet dolor eu posuere tincidunt. Fusce ultricies luctus dui, dapibus pharetra risus semper non. Maecenas tempus est neque, sit amet malesuada augue tempor vitae. Proin mattis efficitur enim ut molestie.
      </div>
    </div>
  </div>
</div> 