/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: grid; 
  margin: 0px;
  grid-template-areas:
  "header",
  "main-content",
  "footer";
  grid-template-rows: 50px auto auto;
}

body header {
  grid-area: "header";
}

body main {
  grid-area: "main-content";
}

body footer {
  grid-area: "footer";
  width: 100%;
}

.home-card {
  width: 570px;
  height: 270px;
}
.home-card > .mdl-card__title {
  color: #fff;
  background: #673ab7;
}

.purple-btn {
  border: 1px solid #673ab7;
}

.mdl-button--colored a:hover,
.nav-item, 
.nav-item a:hover,
.label-field:after,
.mdl-mini-footer,
footer li a:hover {
  background-color: #673ab7;
}

.mdl-logo img {
  margin-right: 15px;
}

.mdl-mini-footer,
footer li a:hover {
  background-color: #5c399c;
}

#statement-messages,
.table-item a,
.table-item a:hover,
.edit-icon {
  color: #333;
}

.nav-menu li a:hover,
.preview-file:hover {
  color: #333;
  background-color: #e9e9e9;
}

 #date-input {
  color: silver;
}

.table-item a:hover,
.table-button:hover {
  background-color: #e9e9e9;
}

.nav-item a,
.add-file a,
.account-btn:first-of-type,
.mdl-mini-footer li a {
  color: white;
}

.account-btn option {
  color: black;
  background-color: white;
}

#statement-messages {
  font-size: 18px;
}

#statement-messages span {
  padding: 10px 20px 10px 15px;
}

.mdl-grid .root-box {
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}

.root-container {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  height: calc(130vh - 20px);
  align-items: center;
  justify-content: center;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
}

.root-grid {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  height: calc(130vh - 20px);
  align-items: center;
  justify-content: center;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
}

.demo-card-wide {
  box-sizing: border-box;
  padding: 20px 0 30px 0;
  border: 1px solid #e9e9e9;
  margin-top: 50px;
}

.content {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.facebook-btn,
.facebook-btn:hover {
  background-color: rgb(59, 89, 152);
}

.google-btn,
.google-btn:hover {
  background-color: rgb(221, 75, 57);
}

.app-icon {
  width: 25px;
}

.field {
  margin: 10px 33px;
  width: 80%;
}

.app-btn, 
.app-btn:focus, 
.app-btn:hover, 
.app-btn:visited {
  width: 100%;
  color: white;
}

.profile-field, 
.statement-field,
.account-field {
  width: 40%;
}

.address-field {
  width: 80%;
}
 
.mdl-data-table td,
.mdl-data-table th,
#column-date {
  text-align: center;
}

.mdl-typography--display-3,
.mdl-typography--display-2,
.mdl-typography--display-1 {
  font-weight: 300;
  line-height: 1.2;
}

.main-title {
  margin: 2.5rem 10px;
}

#date-input {
  color: silver;
}

.ma-10 {
  margin: 10px;
}

.ma-40 {
  margin: 40px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.ma-20 {
  margin: 20px;
}

.pa-0 {
  padding: 0px;
}

.pa-10 {
  padding: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mv-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mv-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.w-100 {
  width: 100%;
}
