/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0 auto;
}

.mdl-button--colored a:hover,
.nav-item, 
.nav-item a:hover,
.label-field:after {
  background-color: #673ab7;
}

#statement-messages,
.table-item a,
.table-item a:hover,
.edit-icon {
  color: #333;
}

.nav-menu li a:hover,
.preview-file:hover {
  color: #333;
  background-color: #e9e9e9;
}

.table-item a:hover,
.table-button:hover {
  background-color: #e9e9e9;
}

.nav-item a,
.add-file a,
#choosen_account_id:first-of-type {
  color: white;
}

.account-btn option {
  color: black;
  background-color: white;
}

#statement-messages,
.subtitle {
  font-size: 18px;
}

#statement-messages span {
  padding: 10px 20px 10px 15px;
}

.root-container {
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.demo-card-wide {
  box-sizing: border-box;
  padding: 20px 0 30px 0;
  border: 1px solid #e9e9e9;
  margin-top: 50px;
}

.facebook-btn,
.facebook-btn:hover {
  background-color: rgb(59, 89, 152);
}

.google-btn,
.google-btn:hover {
  background-color: rgb(221, 75, 57);
}

.app-icon {
  width: 25px;
}

.field {
  margin: 10px 33px;
  width: 80%;
}

.app-btn, 
.app-btn:focus, 
.app-btn:hover, 
.app-btn:visited {
  width: 100%;
  color: white;
}

.profile-field, 
.statement-field {
  width: 40%;
}

.ma-10 {
  margin: 10px;
}

.ma-40 {
  margin: 40px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.ma-20 {
  margin: 20px;
}

.pa-0 {
  padding: 0px;
}

.mr-10 {
  margin-right: 10px;
}

.mv-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.w-100 {
  width: 100%;
}
