// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#logo {
  width: 50%;
}

#login-button {
  border: 1px solid;
}

.container {
  background: #673ab7;
  color: #fff;
}

.mdl-navigation > .mdl-button {
  min-width: fit-content;
  margin: 0;
  margin-left: 2vw;
}

.mdl-layout__header {
  padding-top: 5vh;
}

.mdl-layout__drawer {
  background: #673ab7;
  color: #fff;
}

.mdl-layout--no-drawer-button .mdl-layout__header-row {
  padding: 0 10vw;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: rgb(255, 171, 64);
}

.mdl-layout__drawer .mdl-navigation button {
  margin-bottom: 2vh;
  margin-left: 0;
}

.mdl-layout__drawer .mdl-navigation {
  padding-left: 16px;
}

.mdl-cell {
  padding: 0;
  margin: 0;
}

.mdl-cell .mdl-typography--display-2 {
  font-weight: 300;
  line-height: 1.2;
}

@media screen and (min-width: 1024px) {
  #main-illustration {
    width: 100%;
  }

  .material-icons {
    font-size: 22px;
  }

  .mdl-layout__header {
    margin-bottom: 10vh;
  }

  #hero-message__phone {
    display: none;
  }

  #hero-message__desktop .mdl-button {
    width: fit-content;
    margin: 0;
    margin-top: 5vh;
  }

  .mdl-grid {
    padding: 0 10vw;
  }
}

@media screen and (max-width: 1024px) {
  #main-illustration {
    width: 80vw;
  }

  #hero-message__desktop {
    display: none;
  }

  .mdl-grid {
    margin-top: 5vh;
  }

  .mdl-layout__drawer-button {
    color: #fff;
  }
}
