// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Scoping of MDL overrides
#landing {
  .material-icons {
    font-size: 1.3rem;
  }

  .mdl-button {
    margin: 0;
  }

  .mdl-layout {
    background: #673ab7;
    color: #fff;
  }

  .mdl-layout__drawer {
    background: #673ab7;
    color: #fff;
  }

  .mdl-layout__drawer-button {
    color: #fff;
  }

  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: rgb(255, 171, 64);
  }

  .mdl-layout--no-drawer-button .mdl-layout__header-row {
    display: flex;
    align-items: center;
    padding: 0 10vw;
  }

  .mdl-textfield__input {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }

  .mdl-textfield__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.025rem;
    color: rgb(255, 255, 255);
  }

  .mdl-textfield__label:after {
    background-color: rgb(255, 171, 64);
  }

  .mdl-navigation {
    display: flex;
    align-items: center;
  }

  .mdl-typography--display-3,
  .mdl-typography--display-2,
  .mdl-typography--display-1 {
    font-weight: 300;
    line-height: 1.2;
  }
}

#form-section {
  margin-top: 10vh;
  width: 100%;
}

#hero-message-text {
  margin-bottom: 5rem;
}

#landing-header {
  margin: 5rem 0;
}

#landing-header a:hover {
  background: none;
}

#landing-nav-logo {
  width: 50%;
}

#landing-nav-login-button {
  border: 1px solid;
}

#price-col3-spacer {
  width: 100%;
  height: 5rem;
  margin-top: -13.15rem;
}

#price-illustration {
  width: 80%;
}

#price-illustration-col {
  display: flex;
  justify-content: flex-end;
}

.landing-column-subtitle {
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.landing-drawer-nav-button {
  width: 100%;
}

.landing-drawer-nav-child {
  margin: 1rem 0;
  padding: 0 2rem;
  width: 100%;
}

.landing-drawer-logo-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.landing-form-item {
  margin-left: 0;
}

.landing-form-multiline-field {
  width: 100%;
}

.landing-header-item {
  margin-left: 2.5vw !important;
}

.landing-img-container {
  display: flex;
  justify-content: center;
}

.landing-price-button {
  margin-top: 7.5vh !important;
}

.landing-price-container {
  display: flex;
  justify-content: flex-end;
}

.landing-price-img {
  width: 75%;
}

@media screen and (min-width: 1024px) {
  #hero-message__phone {
    display: none;
    margin-top: 5vh;
  }

  #hero-message__desktop {
    margin-bottom: 5vh;
  }

  #main-illustration {
    width: 100%;
  }

  .landing-container__desktop {
    padding: 0 10vw;
  }

  .price-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 5vw;
    margin-top: -10.5rem;
    margin-right: 2vw;
  }

  .section-title {
    margin: 5rem 0;
  }
}

@media (max-width: 1024px) {
  #hero-message__desktop {
    display: none;
  }

  #hero-message__phone {
    margin-bottom: 5vh;
  }

  #main-illustration {
    width: 100%;
    margin-bottom: 5vh;
    padding: 0 5vw;
  }

  #price-col3-spacer {
    width: 100%;
    height: 5rem;
    margin-top: -11.15rem;
  }

  .features-images {
    display: inline-block;
    max-width: 210px;
    max-height: 210px;
  }

  .price-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 5rem;
    margin-top: -8.5rem;
    margin-right: 2vw;
  }

  .section-title {
    margin: 2.5rem 0;
  }
}
