// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#logo {
  width: 50%;
}

#login-button {
  border: 1px solid;
}

#price-illustration-col p {
  margin-top: -15rem;
  margin-right: 2vw;
}

#price-illustration-col button {
  margin-left: 0;
  padding: 0 2vw;
  max-width: fit-content;
}

#price-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.feature-item {
  margin-bottom: 2rem;
}

.feature-title {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  color: rgb(255, 171, 64);
}

.mdl-navigation > .mdl-button {
  min-width: fit-content;
  margin: 0;
  margin-left: 2vw;
}

.mdl-layout {
  background: #673ab7;
  color: #fff;
}

.mdl-layout__header {
  padding-top: 5vh;
}

.mdl-layout__drawer {
  background: #673ab7;
  color: #fff;
}

.mdl-layout--no-drawer-button .mdl-layout__header-row {
  padding: 0 10vw;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: rgb(255, 171, 64);
}

.mdl-layout__drawer .mdl-navigation button {
  margin-bottom: 2vh;
  margin-left: 0;
}

.mdl-layout__drawer .mdl-navigation {
  padding-left: 16px;
}

.mdl-typography--display-3,
.mdl-typography--display-2,
.mdl-typography--display-1 {
  font-weight: 300;
  line-height: 1.2;
}

#features-message__desktop {
  margin-top: 227.87px;
}

span.mdl-typography--headline {
  margin-top: 38px;
}

.mdl-cell .mdl-typography--headline {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
}

.features-images {
  display: inline-flex;
  position: absolute;
  width: 100%;
  left: 23px;
}

#first-illustration {
  margin: 50px 124px 0px 160px;
}

#second-illustration {
  margin: 50px 124px 0px 115px;
}

#third-illustration {
  margin: 50px 124px 0px 97px;
}

h5 {
  margin-top: 48px;
  font-size: 24px;
  line-height: 110%;
}

#features-message__desktop .mdl-grid {
  position: absolute;
  margin: 348px 0px 187px 0px;
  padding: 0;
}

.mdl-cell p {
  padding-right: 192px;
  padding-top: 11px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
}

#features-message__phone {
  display: none;
}

@media screen and (min-width: 1024px) {
  .price-icon {
    height: 2.5rem;
  }
}

@media (min-width: 1024px) {
  #main-illustration {
    width: 100%;
  }

  #hero-message__phone {
    display: none;
  }

  #price__phone {
    display: none;
  }

  #hero-message__desktop .mdl-button {
    width: fit-content;
    margin: 0;
    margin-top: 5vh;
  }

  #price-illustration-col {
    display: flex;
    justify-content: flex-end;
  }

  #price-illustration {
    width: 80%;
  }

  .container {
    padding: 0 10vw;
  }

  .material-icons {
    font-size: 22px;
  }
}

.mdl-layout__header {
  margin-bottom: 10vh;
}

#hero-message__desktop,
#features-message__desktop {
  .section-title {
    margin-bottom: 10vh;
  }
}

@media (max-width: 1024px) {
  #hero-message__desktop,
  #price__desktop {
    display: none;
  }

  #hero-message__phone {
    margin-bottom: 5vh;
  }

  #main-illustration {
    width: 100%;
    margin-bottom: 5vh;
    padding: 0 5vw;
  }

  #price-content-container {
    align-items: center;
  }

  #features-message__desktop {
    margin: 52px;
  }

  .mdl-grid {
    margin-top: 5vh;
  }

  .mdl-layout__drawer-button {
    color: #fff;
  }

  .features-images {
    display: inline-block;
    max-width: 210px;
    max-height: 210px;
  }

  #features-message__desktop h5 {
    margin: 0px 10px 0px 15px;
    font-size: 20px;
  }

  .mdl-cell p {
    padding: 11px 10px 76px 15px;
  }

  #features-message__phone {
    padding: 158px 10px 10px 10px;
    display: inline;
  }

  #features-message__phone .mdl-grid,
  #features-message__phone .mdl-cell.mdl-cell--4-col,
  #features-message__phone p {
    padding: 0px;
  }

  #features-message__phone h5 {
    font-size: 20px;
  }

  #features-message__phone p {
    margin: 11px 20px 0px 0px;
    font-size: 16px;
  }

  #features-message__phone .mdl-cell.mdl-cell--4-col {
    margin-top: 300px;
  }
}
