// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//Resetar configurações padrões do browser
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a:hover, button:hover {
  cursor: pointer;
} 

/* Página de Login */
.container {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  perspective: 1000px;
  width: 330px;
  height: 375px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

#cube figure {
  backface-visibility: hidden;
  margin: 0;
  width: 330px;
  height: 375px;
  display: block;
  position: absolute;
}

#cube .front {
  transform: rotateY(0deg) translateZ(187.5px);
}

#cube .left {
  transform: rotateY(-90deg) translateZ(165px) translateX(22.5px);
}

#cube .bottom {
  transform: rotateX(-90deg) translateZ(187.5px);
}

#cube {
  transform: translateZ(-165px);
}

#cube.show-front {
  transform: translateZ(-165px) rotateY(0deg);
}

#cube.show-left {
  transform: translateX(-22.5px) translateZ(-165px) rotateY(90deg);
}

#cube.show-bottom {
transform: translateZ(-165px) rotateX(90deg);
}

#cube {
  transition: transform .4s;
}

.mdl-button--colored--blue, .mdl-button--colored--blue:hover {
  background: rgb(59, 89, 152);
}

.mdl-button--colored--orange, .mdl-button--colored--orange:hover {
  background: rgb(221, 75, 57);
}

button.mdl-button {
  left: -10px
}

.mdl-button--colored--green, .mdl-button--colored--green:hover {
  background: rgb(0,150,136);
}

.input span.error {
  display: flex;
  padding: 0;
  background-color: rgba(255, 0, 0, 0.2);
}

.input span.error-message.active {
  border: 1px solid red;
  padding: 0.3em;
}