// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login-card {
  height: 460px;
}

.facebook-icon, 
.google-icon {
  position: absolute;
  width: 25px;
  margin: -40px 40px;
  z-index: 1;
  display: flex;
}