// Place all the styles related to the authentications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.app-profile .main-area {
  margin: 20px 10px;
}

.app-profile .mdl-card {
  height: 770px;
  width: 700px;
  padding: 10px;
}

.app-profile .subtitle {
  margin-left: 30px;
}

.app-profile .mdl-textfield--floating-label {
  width: 40%;
}

.app-profile .material-icons.edit {
  padding-left: 50px;
}

.app-profile .link-account {
  margin: 10px 500px 10px 20px;
}

.app-profile ul {
  padding: 0px;
  display: inline;
}

.app-profile .link-buttons-group {
  position: absolute;
  width: 45%;
  padding: 20px 10px;
  margin-left: 10px;
}

.app-profile .link-facebook-btn {
  background-color: rgb(59, 89, 152);
  color: #ffffff;
  &:hover {
    background-color: rgb(59, 89, 152);
  }
}
.app-profile .link-google-btn {
  background-color: rgb(221, 75, 57);
  color: #ffffff;
  &:hover {
    background-color: rgb(221, 75, 57);
  }
}

.app-profile .save-data-btn {
  width: 90%;
}