// Place all the styles related to the authentications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.app-profile .mdl-layout__content {
  margin: 20px 10px;
}

.app-profile .mdl-card {
  padding: 10px;
}

.app-profile .subtitle {
  margin-left: 30px;
}

.app-profile .mdl-textfield--floating-label {
  width: 40%;
  margin: 15px 20px 10px 30px;
}

.app-profile .link-account {
  margin: 10px 500px 10px 20px;
}

.app-profile .link-buttons-group {
  display: flex;
  padding: 10px 5px;
}

.app-profile .link-account small {
  padding: 0px 150px 0px 0px;
}

.app-profile .facebook-button-icon, .app-profile .google-button-icon {
  position: absolute;
  width: 25px;
  z-index: 1;
}

.app-profile .facebook-button-icon {
  margin: 21px 75px;
}

.app-profile .google-button-icon {
  margin: 21px 490px;
}

.app-profile .link-facebook-btn, .app-profile .link-google-btn {
  width: 40%;
  color: #ffffff;
  margin: 15px 15px 10px 25px;
}

.app-profile #profile-btn {
  width: 40%;
  margin: 35px;
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  .app-profile .mdl-grid {
    margin-top: 65px;
  }
  header nav.mdl-navigation {
    display: inline;
    margin: 20px 10px 20px 250px;
  }
  .app-profile .mdl-textfield--floating-label {
    display: block;
    width: 30%;
  }
  .app-profile .edit-icon {
    display: none;
  }
  .app-profile .mdl-list__item--three-line {
    display: inline-block;
    width: 35%;
    margin-left: 20px;
  }
  .app-profile .subtitle {
    margin: 15px 15px 20px 25px;
  }
  .app-profile .link-buttons-group {
    display: grid;
    width: 76%;
    padding: 2.5px;
    margin-left: 2.5px;
  }
  .app-profile .link-account small {
    padding: 0px 90px 0px 0px;
  }
  .app-profile .facebook-button-icon {
    margin: 20px 38px;
  }
  .app-profile .google-button-icon {
    margin: 82px 38px;
  }
  .app-profile #profile-btn {
    width: 30.5%;
    margin-left: 34px;
  }
}

@media screen and (min-width: 361px) and (max-width: 600px) {
  .app-profile .mdl-grid {
    margin-top: 50px;
  }
  header nav.mdl-navigation {
    display: inline;
    margin: 20px 10px 20px 250px;
  }
  .app-profile .mdl-textfield--floating-label {
    display: block;
    width: 37%;
  }
  .app-profile .mdl-layout__content {
    margin: 0px;
  }
  .app-profile .edit-icon {
    display: none;
  }
  .app-profile .mdl-list__item--three-line {
    display: inline-block;
    width: 43%;
    padding: 15px;
  }
  .app-profile .subtitle {
    margin: 15px 15px 20px 25px;
  }
  .app-profile small {
    padding-right: 80px;
  }
  .app-profile .link-buttons-group {
    display: grid;
    width: 85%;
    padding: 10px;
  }
  .app-profile .demo-list-control {
    margin: -10px;
  }
  .app-profile .facebook-button-icon {
    margin: 20px 50px;
  }
  .app-profile .google-button-icon {
    margin: 82px 50px;
  }
  .app-profile #profile-btn {
    width: 34%;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .app-profile .mdl-textfield--floating-label {
    width: 32%;
  }
  .app-profile .link-buttons-group {
    width: 85%;
    padding: 10px;
  }
  .app-profile .facebook-button-icon {
    margin: 21px 50px;
  }
  .app-profile .google-button-icon {
    margin: 21px 360px;
  }
  .app-profile #profile-btn {
    width: 34%;
  }
}

@media screen and (min-width: 769px) and (max-width: 912px) {
  .app-profile .google-button-icon {
    margin: 16px 480px;
  }
}

@media screen and (min-width: 913px) and (max-width: 1200px) {
  .app-profile .mdl-grid {
    margin-top: 25px;
  }
  .app-profile small {
    padding-right: 160px;
  }
  .app-profile .facebook-button-icon {
    margin: 21px 70px;
  }
  .app-profile .google-button-icon {
    margin: 21px 470px;
  }
 
}